.grid-container {
    height: 700px;
    width: 600px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 250px 50px 50px 50px 100px 100px 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   


}
.profile{
    
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("Kanye being Kanye.jpeg");
    background-position: center;
    background-size: cover;
}

 header{

    grid-column: 2/3;
    background-color: #eff0ee;
}
.ulwithexp{
    
    grid-column: 2/3;
    grid-row: 2/-1;
    background-color: #eff0ee;
}

.ulwitheducation{
    grid-column: 1/2;
    grid-row: 2/4;
    background-color: #e0d2cc;  
}
.ulwithskills{
    grid-row: 4/6;
    background-color: #e0d2cc;  
}
.ulwithcontacts{ 
    grid-row: 6/8;
     background-color: #e0d2cc;  
}
.experience,.education,.contact,.skills{
    color:#3a526d;
    text-decoration-line: underline;
}
h1{
    color:#3a526d;
}
.experience{
    margin-top: 1%;
}
.where{
    font-size: small;
    margin-top: 1px;
}